@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kavoon&family=Lora:wght@400;600&display=swap');

.kavoon-text {
    font-family: 'Kavoon', cursive;
}

.lora-text {
    font-family: 'Lora', serif;
}

.inter-text {
    font-family: 'Inter', sans-serif;
}
